@import url('https://fonts.googleapis.com/css2?family=Gantari:wght@200;400;700&display=swap');

body
{
    font-family: 'Gantari', sans-serif;

}

p
{
    letter-spacing: 2px;
}

#centered
{
    text-align: center;
}

#pageTitle
{
    font-size: 40px;
    color: #E8AA42;
}

#navList
{
    font-size: 18px;
    text-align: center;
}

#navList ul
{
    list-style-type: none;
    display: inline-block;
    margin: 0;
    padding: 0;
}

#navList #nav li
{
    float: left;
    margin-right: 20px;
}

.sectionTitles
{
    color:purple;
    font-size: 20px;
}

#teamsList
{
    list-style-type: none;
    display: inline-block;
    margin: 0;
    padding: 0;
    line-height: 1.7em;
    text-transform: uppercase;
    font-size: 18px;
}

#teamsInfo
{
    list-style-position: inside;
}

#teamsInfo li img
{
    width: 400px;
}

#teamsInfo li p span
{
    text-transform: uppercase;
    font-weight: bold;
}

.subTitles
{
    color:rgb(255, 0, 0);
    font-size: 20px;
}